body {
  font-size: x-large;
  margin: 10px;
}

h1 {
  font-size: xx-large;
  text-align: center;
}

h2 {}

img {
  max-width: 100%;
}

figure {
  margin: 5px;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.5rem;
    margin: 0 50px;
  }
  h1 {
    font-size: xxx-large;
  }
  figure {
    max-width: 45%;
  }
  main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 600px) {
  body {
    font-size: xx-large;
    margin: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: xxx-large;
  }
  figure {}
  main {}
}