body{
    width: 650px;
}


h1 {
    text-align: center;
  }


  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    display: block;
    margin: auto;
   
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    margin: auto;
    display: inline-block;
    
    
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    margin: auto;
    display: inline-block;
    
    
  }


  main{
    text-align: center;
  }

  main li{
      display: inline-block;
  }