hi, p{
text-align: center;
}

ol:hover{
background-color: green;
color: white;
}

li:active{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ol, ul{
list-style: none;

}

}


